html, body{
    background: #232323;
    margin: 20px 0px 0px 0px ;
    color:#fff;
}

.wrapper{
    max-width: 1280px;
    padding:0 15px;
    margin: 0 auto;
    border:1px solid #FF9933;
}

.row{}

.wrapper .col{
    text-align: center;
    background: #777777;
    min-height: 100px;

    float:left;

    margin: 15px;
    margin: calc(100%/12 - 15px);

}