@font-face {
    font-family: 'Arimo';
}
body{
    background-image: url("img/homework_003_styesheet_img_backround_Milan_Holidays_backround.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 1366px;
    height: 768px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo{
    display:block;
    float:left;
    width: 48px;
    height: 45px;
    background-image: url("img/Milan/logo.png");
    background-repeat: no-repeat;
    margin-right:11px;
}

.sum-header a:hover .hover-logo{
    display: block;
    background-image: url("img/Milan/logo-hover.png");
    width: 48px;
    height: 45px;
    background-repeat: no-repeat;
    margin-right:11px;
}


.sum-header a:hover span{
    color:#f26522;
}

.text-milan, .text-holiday{
    font-family: Verdana-bold;
    font-size: 29px;
    color:#fff;

}

.text-logo{
    display: inline-block;
    margin-top: -5px;
}


.text-holiday{
    display: block;
    font-size: 18px;

}
.sum-header{
    display: inline-block;
    margin-top: 37px ;
    margin-left: 116px;
}
.sum-header a{
    display: inherit;
    text-decoration: none;
}



.contact{
    display: inline-block;
    float: right;
    margin-top:43px;
    margin-right: 100px;


}
.contact :nth-child(3){
    margin-left:72px;
}


.contact span{
    color:#ffffff;
    font:18px Verdana;
}
.contact-mail{

}