
@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../HomeWork02/fonts/MyriadPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}



body{
    width: 1480px;
    height: 1280px;
    margin-left: auto;
    margin-right: auto;
    /*border:3px solid black;*/
}

.logo{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 80pt;
    margin-top: 36px;
    text-align: center;
    width: 292pt;
    height: 74pt;
    margin-bottom: 45pt ;


}
.logo-color{
    color:#4bcaff;
}



header, footer{
    display: inline-block;
    width: inherit;
    height: 69pt;
    background: #35444f;

}

header>a{
    color:white;
    font-size: 24pt;
    text-decoration: none;
    padding-top: 22pt;
    padding-left: 33pt;
    padding-right: 40pt;
    display:block;
    float: left;
    padding-bottom: 27px;


}
header .link1 {
    margin-left:160pt;


}
link2, link3{
    margin-left: 10pt;
}
link4{
    margin-left: 12pt;
}
header a:hover{
    display:block;
    background-color: #222f3a;

}



    .left-bar{
        display:inline-block;
        float: left;
        width: 31%;
        height: 484px;


    }

    .left-side-ref{
        border:solid 2px grey;
        margin-top: 51pt;
        width: 344pt;
        height: 399pt;

    }
    .left-side-ref a{
        color:#485863;
        font-size:30pt;
        text-decoration: none;
        display: block;
        padding-left: 41pt;
        padding-bottom: 25px;
        padding-top: 25px;
        margin-bottom: 13px;

    }

    .left-side-ref a:hover{

        background-color:#dbdbdb;
        display:block;
        padding-left: 65px;


    }


    .rigt-bar{
        display:inline-block;
        /*float: left;*/
        width: 73%;
        /*height: 484px;*/

    }
    .rigt-bar {

        border: solid 2px grey;
        margin-top: 51pt;
        width: 64%;
        margin-left: 52pt;
        height: 529pt;
    }

    .img-mutton img{
        /*display: block;*/
        margin-top: 75pt;
        margin-left: 208pt;
        width: 320pt;
        height: 380pt;
        /* height: 380pt; */

    }
    .img-mutton img:hover{
        transition-duration: 2s;
        transform: scale(1.2, 1.2);

    }


    /*.picture{*/
    /*    width: 320px;*/
    /*    height: 380px;*/
    /*    display:block;*/
    /*    margin:75px 268px 73px 297px;*/

    /*}*/

figure{
    text-align: center;
    margin-top: 125px;
}


.content-text{
    display: inline-block;
    float: right;
    margin-bottom: 50px;
}
.content-text p{
    color: #2c2c2c;
    font-size: 18pt;
    margin-top: 50px;
    text-align: left;
    float: right;
    clear: both;
    margin-left: 550px;
    margin-right: 15px;
}


.bottom-style{
    background-color: #b4b7ba;

    display: inline-block;
    width: 1280pt;
    height: 69pt;
    margin-bottom: 30px;
    margin-top:70px;
}


footer {
    background-color: rgba(99, 105, 110, 0.48);
}
footer p{
    display: inline-block;
    float: right;
    padding-right: 35px;
    font:23px "MyriadPro-Regular";
    color:#010101;
    padding-top: 7px;



}
footer .link-footer{
    padding: 28px 40px 0px 40px;
    display: block;
    float:left;
    font:28px "MyriadPro-Regular";
    text-decoration: none;
    text-transform: capitalize;
    color:#0c1927;



}

footer .link-footer:hover{
    text-decoration: underline;
    color:#3181a6;

}


/*.main-header div{*/
/*    color: white;*/
/*    !*font-family: ;*!*/
/*    font-size: 24pt;*/
/*}*/