@font-face {
    font-family: Roboto-Black sans-serif;
    src: url("fonts/Roboto-Black.ttf");
    font-style: normal;
    font-weight: normal;

}
@font-face {
    font-family: "Gotham";
    src: url("fonts/Gotham Rounded Bold.otf");
    font-style: normal;
    font-weight: normal;
}
body{
    width: 1280px;
    height: auto;
}

.main{
    height: 81px;
    background-color: #ffffff;
}
.link a{
    display: inline-block;
    padding-top: 32px;
    font:25px Roboto;
    color: #16a085;
    font-variant: small-caps;
    text-decoration: none;
    text-align: left;


}
.link01{
    margin-left: 332px
}
.link02{
    margin-left: 65px
}
.link03{
    margin-left: 70px;
}
.link04{
    margin-left: 78px;
}

.images{
    padding-top: 35px;
    background: no-repeat;
    background-image: url("img/HW.png") ;
    height: 790px;
    margin-bottom: -45px;


}
.text{

    height: 650px;
    background-color: #f5f6f7;
}

h1{
    margin-top: 0px;
    padding-top:59px;
    font:35px Roboto;
    color: #373737;
    text-align: left;
    text-align: center;
    font-weight: 700;
    font-variant: small-caps;
    letter-spacing: 1.5px;

}
p{
    font: 16px Roboto ;
    font-weight: 500;
    color: black;
    text-align: center;
    letter-spacing: 1.2px;
    margin-right:113px;
    margin-left: 108px;

}

.button{
    display:inline-block;

    width: 220px;
    height: 40px;
    border: 1px solid #16a005;
    background-color: #16a005;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 40%;
    padding-top: 15px;


    text-align: center;
    border-color:#16a005;
}

.button span{
    font:20px "GothamRounded";
    font-variant: small-caps;
    color: #ffffff;
    latter-spacing:1.3px;
    margin-top: 4px;
    text-align: center;
}
.button a{
    display: block;
    text-decoration: none;
}

footer{
    height: 108px;
}
.rights{
    font: 18px Roboto;
    color:#373737;
    font-weight: 600;
    text-align: right;
    padding-top: 30px;
    letter-spacing: 1.2px;
}
